* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: RobotoMono;
  src: url(/fonts/RobotoMono.ttf);
}
body {
  background-color: #00AFEA;
}

.header {
  width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__container__logo {
  width: 265px;
  display: flex;
  align-items: center;
}
.header__container__logo p {
  margin-left: 25px;
  color: #FFF;
  font-weight: 700;
  font-family: RobotoMono;
}
.header__container__address {
  margin: 25px 0 0 469px;
  font-size: 14px;
  color: #F5F5F5;
  font-family: RobotoMono;
}
.header__container__social_media {
  width: 115px;
  display: flex;
  justify-content: space-between;
  margin: 19px 0 0 0;
}
.header hr {
  border: 2px solid #005C9F;
  margin: 30px 0 0 0;
}
.header__nav {
  width: 470px;
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.header__nav__btn {
  width: 148px;
  height: 42px;
  border-radius: 40px;
  background-color: #005C9F;
  color: #FFF;
  font-weight: 700;
  font-family: RobotoMono;
  font-size: 14px;
  border: none;
  line-height: 21.1px;
}
.header__nav__btn:hover {
  background-color: #891B56;
}
.header__nav__btn:focus {
  background-color: #891B56;
}

.cards {
  width: 1100px;
  height: 764px;
  margin: 0 auto;
  margin-top: 100px;
}
.cards__title {
  width: 810px;
  font-family: RobotoMono;
  font-size: 32px;
  font-weight: 700;
  line-height: 42.2px;
  color: #fff;
}
.cards__wrapper {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 40px;
}
.cards__wrapper__card {
  width: 300px;
  height: 310px;
  background-color: #fff;
  padding: 15px;
}
.cards__wrapper__card p {
  margin-top: 15px;
  color: #000000;
  font-family: RobotoMono;
  font-size: 20px;
  line-height: 26.38px;
}
.cards__wrapper__card__btn {
  width: 128px;
  height: 42px;
  background-color: #005C9F;
  border: none;
  border-radius: 50px;
  font-family: RobotoMono;
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
}
.cards__wrapper__card__btn:hover {
  background-color: #891B56;
}
.cards__wrapper__card__btn:focus {
  background-color: #891B56;
}
.cards__wrapper:nth-of-type(3) {
  width: 680px;
  margin-left: 230px;
}

.events {
  width: 1140px;
  height: 700px;
  margin: 0 auto;
  margin-top: 100px;
}
.events__event {
  width: 1140px;
  height: 210px;
  padding: 25px;
  background-color: #fff;
  margin-top: 35px;
  display: flex;
}
.events__event__title {
  width: 174px;
  font-family: RobotoMono;
  font-size: 36px;
  line-height: 47.48px;
  color: #005C9F;
}
.events__event__text {
  width: 593px;
  font-family: RobotoMono;
  font-size: 24px;
  line-height: 31.65px;
  color: #005C9F;
  margin: 0 0 0 42px;
}
.events__event__btn {
  width: 197px;
  height: 56px;
  border: none;
  border-radius: 50px;
  background-color: #005C9F;
  margin: 0 0 0 90px;
  font-family: RobotoMono;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
}
.events__event__btn:hover {
  background-color: #891B56;
}
.events__event__btn:focus {
  background-color: #891B56;
}

.footer {
  background-color: #005C9F;
  margin: 100px 0 0 0;
  padding: 50px 90px 30px 90px;
}
.footer__content__basic {
  display: flex;
}
.footer__content__basic__column p {
  font-family: RobotoMono;
  font-size: 16px;
  line-height: 21.1px;
  color: #F5F5F5;
  margin: 15px 0 0 10px;
}
.footer__content__basic__column__logo {
  width: 265px;
  display: flex;
  align-items: center;
}
.footer__content__basic__column__logo p {
  margin: 0 0 0 25px;
  color: #FFF;
  font-weight: 700;
  font-family: RobotoMono;
}
.footer__content__basic__contacts {
  padding: 10px 0 0 10px;
  margin: 0 0 0 30px;
  color: #F5F5F5;
  font-family: RobotoMono;
  font-size: 16px;
  line-height: 21.1px;
}
.footer__content__basic__contacts p {
  margin-top: 15px;
}
.footer__content__basic__contacts p:nth-of-type(1) {
  margin: 0;
}
.footer__content hr {
  border: 3px solid #F5F5F5;
  margin: 30px 0 0 0;
}
.footer__content__copyright {
  height: 30px;
  margin: 30px 0 0 0;
  font-family: RobotoMono;
  font-size: 14px;
  color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content__copyright__icons {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=style.css.map */